
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="@Url.Action("IndexProduct", "Admin")">Administrar os Produtos</a><br><br>
<a href="@Url.Action("IndexCategory", "Admin")">Administrar as Categorias de Produto</a>

